.container {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 123px);
  width: 100%;
}

.content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content h1 {
  color: rgb(22, 63, 56);
  margin-bottom: 30px;
}

.content input {
  border: none;
  outline: none;
  margin-top: 30px;
  padding: 11px 15px;
  background: white;
  border-bottom: 1px solid rgb(56, 194, 171);
  color: rgb(22, 63, 56);
  font-size: 16px;
}

.content input::placeholder {
  color: rgb(56, 194, 171);
}

.fun-btn {
  padding: 8px 12px;
  border-radius: 8px;
  background: white;
  border: 3px solid rgb(56, 194, 171);
  color: rgb(56, 194, 171);
  margin: 15px 20px;
  cursor: pointer;
  outline: none;
  font-size: 17px;
}

.fun-btn:hover {
  animation: changeBg 1s infinite alternate;
}

@keyframes changeBg {
  0% {
    background: white;
    color: rgb(56, 194, 171);
  }

  100% {
    background: rgb(56, 194, 171);
    color: white;
  }
}
